.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.success-message {
  font-size: 20px;
  color: darkgreen;
  padding-bottom: 10px;
}

.hobby-input {
  display: flex;
  align-items: center;
}

.full-width {
  width: 100%;
}

